@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply max-w-[1440px] m-auto large:px-[50px] mid:px-[50px] small:px-[50px] ss:px-[20px];
	}

	h3 {
		font-family: 'Nico-Moji';
	}
}

.arr {
	@apply ss:h-8 ss:w-8;
}
.avatars {
	@apply large:h-10 large:w-10 mid:h-10 mid:w-10 small:w-10 small:h-10 ss:h-6 ss:w-6 rounded-full;
}

.text_btn {
	@apply ss:text-[30px];
}

.text_section {
	@apply font-montserrat text-justify large:text-[27px] large:leading-[33px] font-medium mid:text-[20px] small:text-[18px] ss:text-[22px] leading-none mid:leading-[20px];
}

.text_quote {
	@apply font-montserrat font-semibold ss:text-[24px] large:text-[40px] leading-none text-wrap text-rasinblack mid:text-[30px] small:text-[25px];
}

.text_section-name {
	@apply uppercase text-caraibben ss:text-[25px] large:text-[50px] mid:text-[40px] small:text-[30px];
}

@font-face {
	font-family: 'Nico-Moji';
	src:
		url('/fonts/Nico-Moji.ttf.woff') format('woff'),
		url('/fonts//Nico-Moji.ttf.svg#Nico-Moji') format('svg'),
		url('/fonts/static/Nico-Moji.ttf.eot'),
		url('/fonts/static/Nico-Moji.ttf.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
